@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{ /*so that when we change theme, we can easily change the colors here*/
  --mainColor: #030929;
  --secondaryColor: rgb(28, 32, 62);

  --borderColor: #5d88ac;


  --mainText:rgb(165, 208, 235); 
  --secondaryText: #fff7d0; 

  --clicked: rgb(140, 206, 239); 

  --previewBg: rgba(7, 35, 53, 0.804);
  --previewShadow: #07162e; 

  --buttonColor:  #030929;
} 



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--secondaryColor);
  
}

a {
  text-decoration: none;
  color:  #fff7d0
}

p {
  line-height: 1.7;
  color: var(--mainText);
}

ul {
  display:flex;
  list-style: none;
}

li {
  line-height: 2.2;
}

li.search {
  display:contents;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--mainText);
}

input, textarea {
  color: var(--mainText);
  background-color: rgb(34, 43, 90);
}

.logo {
  font-size: 30px;
  font-weight: 650;
}
.container {
  
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 15px;
  text-align: center;
}

.header {
  
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 40px;
  padding-right: 15px;
  
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: var(--secondaryText);
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 ;

}

.heading p {
  color: var(--secondaryText) ;
}

.title {
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;  
  margin-top: 30px;
}

.vocabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.vocab {
  background-color: var(--mainColor);
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  border-radius: 5px;
  height:fit-content;
}

.word{
  color: var(--secondaryText)
}

.sentence, .definition {
  text-align: left;
}
.vocab .edit {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--secondaryText)
}
.vocab .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--secondaryText)
}

.flip-card {
  background-color: transparent;
  padding: 10px 15px 0px 15px;
  width: 100%;
  height: 150px;
  border: none;
  perspective: 1000px; 
  border-radius: 5px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 5px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: var(--mainColor);
  color: var(--secondaryText);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--mainColor);
  color: var(--secondaryText);

  transform: rotateY(180deg);
}

.word-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  justify-content: space-between;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  color: var(--mainText);
  
}

.word-type-edit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  color: var(--mainText)
}

.popup {
  position: relative;
  display: flex;
  margin: 0px 0px -10px 0px;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: var(--secondaryColor);
  color: var(--secondaryText)
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  color: var(--secondaryText);
  background: none;
}
.edit-btn {
    padding: 10px 20px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    background: var(--mainColor);
    color: var(--secondaryText);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content, form {
  width: 90%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: var(--mainText)
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--buttonColor);
  border-radius: 5px;
  background: var(--buttonColor);
  color: var(--secondaryText);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.dashBody {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
}

.dashRight {
  padding: 50px 0px 50px 0px;
}

.formBody {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  align-items: center;
}

.formLeft, .formRight {
  padding: 10px
}

.search-input {
  width: 100%;
  min-height: 35px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  font-family: inherit;
}
.search-btn{
  padding: 10px;
  border: none;
  background: none;
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: inherit;
  cursor: pointer;
  display: flex;
}

.vocab-search-result {
  padding-top: 30px;
}

.form ul li {
  margin-left: 2px;
}

.burger {
  padding: 10px;
  border: none;
  background: none;
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: inherit;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.menu {
  cursor: pointer;
}
.mobile-menu-inact {
	
  position: absolute;
  display: none;
	top: 70px;
	left: 100%;
	width: 100%;
	min-height: 60vh;
  z-index: 98;
	background-color: var(--mainColor);
	padding-top: 40px;
	transition: 0.4s;
  opacity: 0.95;
}

.mobile-menu-act {
	left: 0;
  position: absolute;
	top: 70px;
	width: 100%;
	min-height: 60vh;
	display: none;
  z-index: 98;
	background-color: var(--mainColor);
	padding-top: 40px;
	transition: 0.4s;
  opacity: 0.96;
}

.mobile-menu-act a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: var(--secondaryColor);
  border-radius: 5px;
  z-index: 98;
	color: var(--secondaryText);
	text-decoration: none;
}

.mobile-menu-act a:hover {
	background-color: var(--buttonColor);
  border: 1px solid var(--secondaryText);
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination-item{
  width: 30px;
  height: 40px;
  position: relative;
  display: block;
  padding: 4px;
  color: var(--secondaryText);
  font-size: 18px;
  background-color: var(--mainColor); 
  cursor: pointer;
}

.pagination-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  width: 50px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  text-align: center;
  color: var(--secondaryText);
  background-color: var(--mainColor); 
  cursor: pointer;
}

.pagination-item.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}


.page-link:hover {
  background-color: var(--secondaryColor);
}

.page-link:focus {
  background-color: var(--clicked);
  color: var(--mainColor);
  font-weight: 900;
}

.page-link:active {
  background-color: var(--clicked);
}

.page-item{    
  border: var(--borderColor) solid 
}

.sortButtons {
  display: flex;
  justify-content: flex-end;
}

.sort{
  padding: 10px 20px;
  border: 1px solid var(--secondaryText);
  border-radius: 5px;
  background: var(--previewShadow);
  color: var(--secondaryText);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.96;
}
.def-content{
  margin: 20px 10px 10px 10px;
  padding: 10px;
}

.def-list {
  display: block;
  
}
.def-item{
  
  text-align: left;
  background-color: var(--mainColor);
  border-radius: 5px;
  padding: 10px;
  margin: 10px
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px){
  .dashBody {
    grid-template-columns: 1fr; 
  }
  .vocabs {
    grid-template-columns: 1fr;
  }
  .formBody {
    grid-template-columns: 1fr; 
  }
}


@media (max-width: 800px) {
	
  .menu {
    display: none;
  }
	.burger {
		display: block;
	}
  .mobile-menu-act {
    display: block;
  }
}

@media (max-width: 600px) {
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}


