@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{ /*so that when we change theme, we can easily change the colors here*/
  --mainColor: #030929;
  --secondaryColor: rgb(28, 32, 62);

  --borderColor: #5d88ac;


  --mainText:rgb(165, 208, 235); 
  --secondaryText: #fff7d0; 

  --themeDotBorder: rgb(140, 206, 239); 

  --previewBg: rgba(7, 35, 53, 0.804);
  --previewShadow: #07162e; 

  --buttonColor:  #030929;
} 



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--secondaryColor);
}

a {
  text-decoration: none;
  color:  #fff7d0
}

p {
  line-height: 1.7;
  color: var(--mainText);
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--mainText);
}

input, textarea {
  color: var(--mainText);
  background-color: rgb(34, 43, 90);
}

.logo {
  font-size: 24px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 15px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: var(--secondaryText);
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 ;
}

.heading p {
  color: var(--secondaryText) ;
}

.title {
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;  
  margin-top: 30px;  
}



.vocabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.vocab {
  background-color: var(--mainColor);
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  border-radius: 5px;
}

.word{
  color: var(--secondaryText)
}
.vocab .edit {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--secondaryText)
}
.vocab .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--secondaryText)
}

.flip-card {
  background-color: transparent;
  padding: 10px 0px 0px 0px;
  width: 100%;
  height: 150px;
  border: none;
  perspective: 1000px; 
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 5px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: var(--mainColor);
  color: var(--secondaryText);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--mainColor);
  color: var(--secondaryText);

  transform: rotateY(180deg);
}

.word-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  justify-content: space-between;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  color: var(--mainText)
}

.word-type-edit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  color: var(--mainText)
}

.popup {
  position: relative;
  display: flex;
  margin: 0px 0px -10px 0px;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: var(--secondaryColor);
  color: var(--secondaryText)
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  color: var(--secondaryText);
  background: none;
}
.edit-btn {
    padding: 10px 20px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    background: var(--mainColor);
    color: var(--secondaryText);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form,
.content {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: var(--mainText)
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--buttonColor);
  border-radius: 5px;
  background: var(--buttonColor);
  color: var(--secondaryText);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.dashBody {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
}

.dashRight {
  padding: 50px 0px 50px 0px;
}

.formBody {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  align-items: center;
}

.formLeft, .formRight {
  padding: 10px
}

.search-input {
  width: 100%;
  height: 25px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  font-family: inherit;
}
.search-btn{
  padding: 10px;
  border: none;
  background: none;
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: inherit;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form ul li {
  margin-left: 2px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px){
  .dashBody {
    grid-template-columns: 1fr; 
  }
  .vocabs {
    grid-template-columns: 1fr;
  }
  .formBody {
    grid-template-columns: 1fr; 
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}


